
#A{


color: rgb(63, 4, 4);
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

size: larger;
font-size: x-large;
text-shadow: rgba(0, 0, 0, 0.73);
}

#B{

font-weight: 900;
font-size: larger;
text-shadow: black;
height: 100vh;
}

#C{

    margin-left: 6%;
    margin-top: 59px;
    text-align: center;
    border:3px solid;
    width: 150px;
    height: 50px;
    padding: 1px 10px;
    background-color: rgba(46, 9, 43, 0.223);
    
    }
#C:hover{

background-color: rgb(0, 0, 0);
color: rgb(255, 0, 157);


}
    
#C a{
    text-align: center;
    color: rgb(255, 0, 157);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#D{

margin-top: -59px;
margin-left: 20%;
text-align: center;
border:3px solid;
width: 150px;
height: 50px;
padding: 1px 10px;
background-color: rgba(46, 9, 43, 0.223);
}

#D:hover{
    background-color: rgba(0, 0, 0, 0.73);
    color: rgb(255, 0, 157);

}

#D a{
text-align: center;
color: rgb(255, 0, 157);
font-size: x-large;
}

#E{

margin-top: -59px;
margin-left: 35%;
text-align: center;
border:3px solid;
width: 150px;
height: 50px;
padding: 1px 10px;
background-color: rgba(46, 9, 43, 0.223);

}

#E:hover{
background-color: rgba(0, 0, 0, 0.73);
color: rgb(255, 0, 157);
}

#E a{
text-align: center;
color: rgb(255, 0, 157);
font-size: x-large;
}



#F{

    margin-top: -59px;
    margin-left: 50%;
    text-align: center;
    border:3px solid;
    width: 150px;
    height: 50px;
    padding: 1px 10px;
    background-color: rgba(46, 9, 43, 0.223);
    
    }
    
    #F:hover{
    background-color: rgba(0, 0, 0, 0.73);
    color: rgb(255, 0, 157);
    }
    
    #F a{
    text-align: center;
    color: rgb(255, 0, 157);
    font-size: x-large;
    }

#G{

    margin-top: -59px;
    margin-left: 65%;
    text-align: center;
    border:3px solid;
    width: 150px;
    height: 50px;
    padding: 1px 10px;
    background-color: rgba(46, 9, 43, 0.223);
    animation-name: example;
    animation-duration: 4s;

       

}

#G:hover{
    
    
    color: rgb(255, 0, 157);
  

       
  }
 



 

 

        
    #G a{
        text-align: center;
        color: rgb(255, 0, 157);
        font-size: x-large;
        }
#H{

    margin-top: -59px;
    margin-left: 80%;
    text-align: center;
    border:3px solid;
    width: 150px;
    height: 50px;
    padding: 1px 10px;
    background-color: rgba(46, 9, 43, 0.223);
            
    }
            
        #H:hover{
            background-color: rgba(0, 0, 0, 0.73);
            color: rgb(255, 0, 157);
            }
            
        #H a{
            text-align: center;
            color: rgb(255, 0, 157);
            font-size: x-large;
            }

#I{

margin-top: 70px;
margin-left: 6%;
text-align: center;
border:3px solid;
width: 150px;
height: 50px;
padding: 1px 10px;
background-color: rgba(46, 9, 43, 0.223);
}
                
#I:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 157);
}
                
#I a{
    text-align: center;
    color: rgb(255, 0, 157);
    font-size: x-large;
}

body{   
    background-image:    
    linear-gradient(to bottom, rgba(170, 104, 156, 0.747), rgba(0, 0, 0, 0.73)),   
    url('IMG-MC_Nettside.png');  
    background-repeat: no-repeat;
    
    
    background-size: 100vw;
    margin: 0;
    
    

}
    










#a{
font-size: xx-small;
margin-top: 490px;
color: rgba(65, 64, 64, 0.212);
}














