
#A{


color: rgb(63, 4, 4);
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: larger;
size: larger;
}

#B{


font-size: larger;
height: 100vh;
}



body{   
    background-image:    
    linear-gradient(to bottom, rgba(240, 211, 211, 0.747), rgba(36, 9, 21, 0.73)),   
    url('IMG-4593.jpg');  
    background-repeat: no-repeat;
    
    background-size: 100vw;
    margin: 0;
    
    

}
    



















