





body{


background-image: linear-gradient(to bottom, rgb(7, 6, 6), rgb(255, 0, 157), rgb(5, 204, 194));
background-size: 100%;
height: 1000px;





}

#link1{

width: 200px;
height: 240px;
background-color: rgb(11, 16, 87);
margin-top: 340px;
margin-left: 10%;
box-shadow: 6px 4px rgba(14, 14, 14, 0.664);
border-radius: 50px;
margin-bottom: 10px;

color: rgb(12, 9, 9);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: x-large;
padding: 10px;

animation-name: Boks1;
animation-duration: 300s;
animation-delay: 8s;


}



@keyframes Boks1{

0% {margin-bottom: 0px;}
1% {margin-top: 100px;}




}

#link1 a{

text-decoration: none;
text-shadow: rgb(248, 248, 248);
color: rgb(191, 164, 240);
position: bottom;
}


#link1:hover{


width: 210px;
height: 240px;
background-color: rgb(8, 79, 150);
color: black;


}


#Bilde1{

    
    margin-top:-560px;
    position: fixed;
    animation-name: bildefade;
    animation-delay: 4s;
    animation-duration: 1000s;
    
    
    
}


@keyframes bildefade{


0% {opacity:1;}
1% {opacity:1; margin-top: 0px; }
1% {opacity:1; margin-top: 10px;}
1% {opacity:0;}
10% {opacity: 0;}
100%{opacity: 0;}
4% {animation: end}




}

#Title{

color: rgb(0, 0, 0);
font-size: xx-large;
text-align: center;
font-family: fantasy;
font-style: italic;
border: solid;
background-color: rgb(85, 3, 85);
font-size: xx-large;
margin-left: 340px;
text-decoration: gold;



}

#Title :hover{

color:rgb(46, 139, 192);
background-color: rgb(0, 0, 0);


}







#Title{
  
    width: 540px;
    height: 150px;
    background-color:transparent;
    color: rgb(255, 255, 255);
    position: relative;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: 1;
    margin-top: 0%;
    margin-left: 10px;
    
  }
  
  @keyframes example {
    0%   {background-color:rgb(0, 0, 0); left:-500px; top:0px;}
    0%   {color: rgb(0, 0, 0);}
    25%  {color: rgb(194, 4, 146);}
    25%  {background-color:rgba(0, 0, 0, 0); left:200px; top:0px;}
    50%  {color: rgb(255, 255, 255);}
    30%  {background-color:rgb(0, 0, 0); left:0px; top:0px;}
    75%  {color: rgb(255, 255, 255);}
    75%  {background-color:rgb(0, 0, 0); left:0px; top:0px;}
    100% {background-color:rgb(0, 0, 0); left:0px; top:0px;}

    
}




#refreshlink{


border:solid;
size: 10px 100px;
max-width: 80px;
background-color: rgb(0, 0, 0);
color: rgb(108, 23, 134);


}






